 @media screen and (max-width:991px) {
    .home{
        margin-top: 5rem;
    }
} 

@media screen and (max-width:786px) {
    .about .about-img{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:576px) {
    
    .home .home-container .heading-md{
        font-size: 10px !important;
    }
   
}